<h1>Edit Generes</h1>

<%= form_for @genre  do |f| %>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <%= f.submit "Update Genre" %>
<% end %>

<%= link_to 'All Genres', genres_path %>
