<h1><%= @artist.name %></h1>

<p><%= @artist.bio %></p>

<%= link_to "Create new artist", new_artist_path %><br>

<%= link_to "Edit this artist", edit_artist_path %><br>

<%= link_to "Return to all artists", artists_path %><br>
